@use "sass:color";

$font-family: 'Nunito', sans-serif;
$font-family2:'Underdog', sans-serif;
$font-color: #d6d6e4;

/**
 *He decidido utilizar la metodología BEM para estructurar el css
 */

.body{
    background-color: rgb(249, 140, 140);
}

.header{
    padding: 0;
    height: 12rem;
    background-color: rgb(16, 16, 16);
    display: grid;
    grid-template-columns: 1fr 2fr 0.9fr;
    align-items: center;

}

.main{
    background: rgb(206, 95, 95);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-items: center;
    width: 100%;
}

.imagen_portada {
    width: 100%;
}

.title{
    color:cornsilk;
    font-family:'Leckerli One', sans-serif;
    text-align: center;
    font-size: 3.5rem; 
}

.h2{
    text-align: center;
    padding:2rem;

}

.banner-imagen img{
    max-height: 155px;
    max-width: 434px;
    width: 25vw;
}

.link{
    text-decoration: none;
    color:rgb(36, 34, 34);
    font-family: $font-family2;
    font-weight: bold;
    font-size: calc(0.3em + 1.2vw);
}

.elementos{
    list-style-type: none;
}

.navegador_segundo{
    margin:0;
    padding:0;
}

.button{
    background-color:$font-color;
    margin-bottom: 3px;
}

.intro{
    font-family: $font-family;
    text-align: center;
    font-size: 1.90rem;
    padding-right:10vw;
    padding-left:10vw;
    line-height: 5vh;
}

.cuadricula{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    justify-content: space-between;
}

.card{
    margin: 3rem 3vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1vw;
    width: 30rem;
    min-width: 27%;
}

.imagen_obras img{
    text-align: center;
    max-width: 100%;
    height: auto;
}


.wrapper{
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-rows: 1fr 0.2 fr 1fr;
}
.secciones{
    display: grid;
    grid-template-columns: 1fr 0.75fr;
}
.espada{
    padding-left: 4vw;
    width: 100%;
}

.formulario {
    padding-bottom: 5vw;
}

.warning{
    color:crimson;
    font-size: 1.5rem;
}

.articulos{
    margin-top: 5rem;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.texto_articulo{
    font-family: $font-family;
    font-size: 1.7rem;
    text-align: justify;
}

.titulo_articulo{
    font-family: $font-family;
    font-size: 3rem;
    text-align: left;
    padding-bottom: 3rem;
    font-weight: bold;
}

.footer{
    padding: 0;
    height: 10rem;
    background-color:rgb(43, 38, 38);
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.75fr;
    align-items: center;
}

.footer-imagen img{
    max-height: 155px;
    max-width: 434px;
    width: 25vw;
}

.instagram{
    color:$font-color;
    text-decoration: none;
    font-size: 30px;
    padding-right: 3vw;
}

.linkedin{
    color:$font-color;
    text-decoration: none;
    font-size: 30px;
    padding-right: 3vw;
}

.contact{
    color:$font-color;
    text-decoration: none;
    font-size: 30px;
    padding-right: 3vw;
}
    
.lista-navegador{
    padding-right: 3vw;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
    margin:0;
    
    &__item {
        display:inline-block;
        padding: 1vw;
    }
}
